@font-face {
    font-family: 'iconfont';
    /* project id 1712023 */
    src: url('//at.alicdn.com/t/font_1712023_l9m78yo6ozm.eot');
    src: url('//at.alicdn.com/t/font_1712023_l9m78yo6ozm.eot?#iefix') format('embedded-opentype'), url('//at.alicdn.com/t/font_1712023_l9m78yo6ozm.woff2') format('woff2'), url('//at.alicdn.com/t/font_1712023_l9m78yo6ozm.woff') format('woff'), url('//at.alicdn.com/t/font_1712023_l9m78yo6ozm.ttf') format('truetype'), url('//at.alicdn.com/t/font_1712023_l9m78yo6ozm.svg#iconfont') format('svg');
}

.iconfont {
    font-style: normal;
    font-size: 16px;
    font-family: 'iconfont' !important;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

// 使用方法
// <i class="iconfont address-icon">&#xe625;</i>